<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Додади издавачка куќа</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/publishHouses/add" method="POST">
                    <input id="id" type="hidden" name="id" th:value="(${publishHouse} != null ? ${publishHouse.getId()} : '')">
                    <div class="form-group">
                        <label for="name">Име</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               th:value="(${publishHouse} != null ? ${publishHouse.getName()} : '')"
                               required
                               placeholder="Внесете име на издавачка куќа">
                    </div>
                    <div class="form-group">
                        <label for="address">Адреса</label>
                        <input type="text"
                               class="form-control"
                               id="address"
                               name="address"
                               th:value="(${publishHouse} != null ? ${publishHouse.getAddress()} : '')"
                               placeholder="Внесете адреса на издавачка куќа">
                    </div>
                    <div class="form-group">
                        <label for="country">Држава</label>
                        <input type="text"
                               class="form-control"
                               id="country"
                               name="country"
                               th:value="(${publishHouse} != null ? ${publishHouse.getCountry()} : '')"
                               placeholder="Внесете држава">
                    </div>

                    <button id="submit" href="/publishHouses/add" type="submit" class="btn btn-primary">Потврди</button>
                    <a type="button" class="btn btn-primary" href="/publishHouses">Откажи</a>
                </form>
            </div>
        </div>
    </div>


</div>
