<section class="jumbotron text-center" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
    </div>

    <div class="container">
        <div class="row">
            <div class="col pt-4">
                <h1 class="jumbotron-heading" style="font-size: 70px;">Универзитетска библиотека</h1>
            </div>
            <div class="col">
                <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2221.287384509473!2d21.39208547889406!3d41.998926758980204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1354140d3a614363%3A0x5409cd5962a31d27!2sGoce%20Del%C4%8Dev%20blok%20A!5e0!3m2!1sen!2smk!4v1655168520075!5m2!1sen!2smk" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
                <a class="btn btn-danger" href="/mymap">Отвори мапа</a>
            </div>
        </div>
    </div>

</section>

